<!doctype html>
<html>
<head>
<meta charset="utf-8" />
{% load staticfiles %}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}" type="image/x-icon" />
<link rel="icon" href="{%  static 'favicon.ico' %}" type="image/x-icon" />
<title>Transmedia</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


{% block metatag %}
{% endblock %}

</head>
<body>
 <div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Translation Contents</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Login</a></li>
      </ul>
    </nav>
    <h3 class="text-muted"><img src="http://i.imgur.com/moB4LlR.png" style="width: 100px;"></h3>
  </div>




{% block content %}
{% endblock %}

</body>

</html>